@charset "UTF-8";

.deal_complete_title_wrap {
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1202px;
}

.deal_complete_title{
						 height: 60px;
						 color: #FF8000;
	 					 font-size: 30px; 
	 					font-weight: bold;
	 					padding-top: 30px;
    					text-align:center;
    					position: relative;
						}
.deal_complete_item{width: 1200px;
				 		 height: 200px;
				  		 border: 1px solid #C3C3C3;
				 		 border-radius:10px;
				  		margin: 0px auto;
				  		margin-bottom: 30px;
				 		 }	
.deal_complete_item_img{width: 160px; /*판매완료 상품 이미지*/
					   height: 160px;
					   border: 1px solid #C3C3C3;
					   margin-left: 30px;
					   margin-top: 20px;
					  }	
.deal_complete_item_border{width: 950px;
							height: 160px;
							border: 1px solid #C3C3C3;; /*content 위치 잡기 위해서 임시로 border를 설정해둠*/
							flex-direction: row; /* row는 가로줄 cloumn은 세로줄*/
							margin-left: 200px;
							margin-top: -19.5px;
							}		
.dci_title{font-size: 20px;
			margin-left: 15px;
			margin-top: 10px;
			font-weight: bold;
			}
.dong_date{font-size: 11px;
			  color: #8E8E8E;
			  margin-top: 3px;
			  }

.complete_btn{width: 100px;
				  height: 25px;
				  border:1px;
		          background: #FFA042;
				  border-radius:5px;
	   			  color: white;
	   			  font-size: 13px;
	   			  display: flex;
	   			  justify-content: center;
    			  align-items: center;
    			  margin-top: 5px;
    			  margin-right: 10px;
}
.edit_del_btn{background: #fff;
						float: right;
			   		    }
.btn_price{display: inline-flex;
			font-size: 16px;
	
}
.cmt_n_heart{display: flex;
				 font-size: 13px;
				 color: #8E8E8E;
				 margin-top: 20px;
}	
.heart{display: flex;
		margin-right: 5px;
}
.heart_cnt{margin-right: 5px;
}
.cmt{display: flex;
}
