@charset "UTF-8";
.list_of_interests_wrap {
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1202px;
	
}
.list_of_interests{height: 60px;
					color: #FF8000;
	 					 font-size: 30px; 
	 					font-weight: bold;
	 					padding-top: 30px;
    					text-align:center;
    					position: relative;
						}
.list_of_interests_item{width: 1200px;
				 		 height: 200px;
				  		 border: 1px solid #C3C3C3;
				 		 border-radius:10px;
				  		margin: 0px auto;
				  		margin-bottom: 30px;
				 		 }	
.list_of_interests_item_img{width: 160px; /*판매완료 상품 이미지*/
					   height: 160px;
					   border: 1px solid #C3C3C3;
					   display: flex;
					   overflow: hidden;
					   box-sizing: border-box;
					   overflow: hidden;
					  }	
.list_of_interests_item_img img{box-sizing: border-box;
    								   width: 100%;
   							           height: 100%;
}
.list_of_interests_item_border{width: 950px;
							height: 160px;
							border: 1px solid #C3C3C3; /*content 위치 잡기 위해서 임시로 border를 설정해둠*/
							flex-direction: row; /* row는 가로줄 cloumn은 세로줄*/
							
							}		
.loi_title{font-size: 20px;
			margin-left: 15px;
			margin-top: 10px;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			}

.dong_date{font-size: 11px;
			  color: #8E8E8E;
			  margin-top: 3px;
			  }
.heart_btn{float: right; /* 옆에 주황색 하트*/
			 margin-right: 20px;
			 color: #FF8000;
}
.cmt_n_heart{display: flex;
				 font-size: 13px;
				 color: #8E8E8E;
}
.heart{display: flex;
		margin-right: 5px;
}
.heart_cnt{margin-right: 5px;
}
.cmt{display: flex;
}
.price{font-size: 16px;
		font-weight: bold;
		margin-bottom: 8px;
		color: black;
}
.price_ch{display: flex;
			flex-direction: column;
			margin-top: 40px;
}