@charset "UTF-8";

.purchase_list_title_wrap{
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1202px;
	
}

.purchase_list_title{
					   height: 60px;
					   color: #FF8000;
	 				   font-size: 30px; 
	 				   font-weight: bold;
	 					padding-top: 30px;
    					text-align:center;
    					position: relative;
						}
.purchase_list_item{width: 1200px;
				 		height: 200px;
				  		border: 1px solid #C3C3C3;
				 		border-radius:10px;
				  		margin: 0px auto;
				  		margin-bottom: 30px;
				  		display: flex;
				  		justify-content: space-evenly;
				  		align-items: center;
				 		 }	
.purchase_list_img{width: 160px; /*판매완료 상품 이미지*/
					   	height: 160px;
					   	border: 1px solid #C3C3C3;
					   	display: flex;
					   overflow: hidden;
					   box-sizing: border-box;
					   overflow: hidden;
					  			}	
.purchase_list_img img{box-sizing: border-box;
    						width: 100%;
   							 height: 100%;
	
}					  			
.purchase_list_border{width: 950px;
							height: 160px;
							border: 1px solid #C3C3C3; /*content 위치 잡기 위해서 임시로 border를 설정해둠*/
							flex-direction: row; /* row는 가로줄 cloumn은 세로줄*/
							}		
.pl_title{font-size: 20px;
			margin-left: 15px;
			margin-top: 10px;
			font-weight: bold;
			display: flex;
			flex-direction: column;
			}
.dong_date{font-size: 11px;
			  color: #8E8E8E;
			  margin-top: 3px;
			  }
.edit_del_btn{background: #fff;
				float: right;
			    }
.btn_price{display: inline-flex;
			 font-size: 16px;
			 align-items: center;
}
.complete_btn{width: 100px;
				  height: 25px;
				  border:1px;
		          background: #FFA042;
				  border-radius:5px;
	   			  color: white;
	   			  font-size: 13px;
	   			  display: flex;
	   			  justify-content: center;
    			  align-items: center;
    			  margin-top: 5px;
    			  margin-right: 10px;
}
