@charset "UTF-8";

.unregister_title{width: 810px;
	  				height: 80px;
	  				color: #FF8000;
	 				font-size: 30px; 
	  				padding-top: 30px;
	  				font-weight: bold;
	  				text-align: center;
	  				margin: 0 auto;
	  				}
.unregister_logo{width: 300px;
					 height: 300px;
					 margin: 0px auto;
					}
.unregister_msg{width: 600px;
				 height: 70px;
				 margin: 0px auto;
				 font-size: 28px;
				 font-weight: bold;
				 margin-top: 20px;
				}
.unregister_msg2{width: 600px;
					  height: 70px;
					  font-size: 15px;
					  color: #363636;
					  margin: 0px auto;
					  text-indent: 50px;
					  }
.password_input{width: 500px;
					height: 70px;
					margin: 0px auto;
					margin-top: 30px;
					margin-bottom:20px;
					text-align: center;
					display: flex;
				    align-items: center;
				    justify-content: center;
					}
			
.password_input img {
	width: 30px;
    height: 30px;
    margin-right: 10px;	
}		

.ok-btn {
	width: 150px;
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #E67E22;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	line-height: 50px;
	color: #fff;
	margin-bottom: 50px;
}
			    	