@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}


svg {
	margin-right: 5px;
}

html, body {
	position: relative;
	height: 100%;
	min-width: 1000px;
}

body {
	background: transparent;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

::selection {
	color: #fff;
	background:#ff6900; 
}

.wrap {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

/* product-img css start */
.swiper {
	width: 750px;
	height: 500px;
	border-radius: 10px;
	position: relative;
	margin: 0 auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.main-top-img-wrap {
	width: 677px;
	height: 500px;
}

.swiper-slide img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	background: #f8edeb;
}

.swiper-pagination-bullet-active {
	width: 8px;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	background-color: transparent;
	box-shadow: 0 0 0;
	color: #BABDC0;
}

.swiper-button-next, .swiper-button-prev {
	color: #495057;	
}

.swiper-button-next, .swiper-button-prev {
	right: -10px;
	left: auto
}

.swiper-button-prev {
	left: -10px;
	right: au
}

/* profile */
.profile-wrap {
	width: 677px;
	margin: 0 auto;
	display: flex;
	margin-top: 25px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 2px solid #e9ecef;
	justify-content: space-between;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-link {
	text-decoration: none;
}

.article-profile-image-wrap{
	display: flex;
	align-items: center;
}

.article-profile-image img {
	width: 50px;
	height: 50px;
	object-fit:cover;
	border-radius: 50%;
	background: #f8edeb;
}

.article-profile-left {
	display: inline-block;
	margin-left: 8px;
}

.nickname {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.6px;
	color: #212529;
}

.contants-wrap {
	width: 750px;
}

/* profile-right */
.profile-right {
	display: flex;
	align-items: center;
}

.heart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heart-icon {
	height: 30px;
	background-color: transparent;
}

.heart-icon svg {
	margin: 0 auto;
}

.heart-cnt{
	position: relative;
	top: -3px;
}

.state {
	width: 100px;
	height: 20px;
	font-size: 15px;
	border: solid 1px #e9ecef;
	border-radius: 6px;
	margin-left: 8px;
	line-height: 20px;
	padding: 12px 16px;
	text-align: center;
}

/* description */

.description-wrap, .comments-wrap {
	padding: 32px 0;
	width: 677px;
	margin: 0 auto;
	border-bottom: 2px solid #e9ecef;
}

.description-title {
	margin-top: 0px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.6px;
}

.region-name {
	margin-top: 0px;
	font-size: 13px;
	line-height: 1.46;
	letter-spacing: -0.6px;
	color: #212529;
}

.description-category {
	margin-top: 4px;
	font-size: 13px;
	line-height: 1.46;
	letter-spacing: -0.6px;
	color: #868e96;
}

.description-price {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	line-height: 1.76;
	letter-spacing: -0.6px;
}

.description-detail {
	margin-bottom: 16px;
	margin-top: 8px;
}

.description-detail p {
	font-size: 17px;
	line-height: 1.6;
	letter-spacing: -0.6px;
	word-break: break-all;
}

/* comments */
.comments-wrap {
	padding: 5px 0;
}

.comments-txt-wrap, .comments-input-wrap {
	display: flex;
	margin-bottom: 5px;
}

.comments-txt-wrap {
	align-items: flex-end;
}


.comments-txt, .comments-cnt {
	margin-right: 5px;
	font-size: 17px;
}

.comments-new{
	color: #0A0400;
}

.comments-old{
	color: #BEBEBE;
}

.comments-sample-wrap {
	width: 677px;
	margin: 0 auto;
	display: flex;
	margin-top: 25px;
	padding-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #E6E6E6;
	flex-direction: column;
}

.comments-profile-wrap {
	display: flex;
	justify-content: space-between;
}

.comments-profile-image-wrap {
	display: flex;
    align-items: center;
}

.comments-profile-image img {
	width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    background: #f8edeb;
}

.comments-profile-left {
	display: inline-block;
    margin-left: 8px;
}

.comments-nickname {
	font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #212529;
    display: flex;
    align-items: center;
}

.writer {
	font-size: 13px;
	text-align:center;
	width: 45px;
    line-height: 1.5;
    letter-spacing: -0.6px;
    color: #212529;
    margin-left: 5px;
    border: 1px solid #E67E22;
    border-radius: 20px;
}

.comments-date {
	font-size: 13px;
    line-height: 1.46;
    letter-spacing: -0.6px;
    color: #212529;
}

.comments-contents-wrap {
	display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.comments-content {
	font-size: 15px;
}

.delete-icon-btn {
	background: transparent;
}

.re-comments-sample-wrap, .re-comments-input-wrap {
	width: 620px;
	margin-left: 57px;
    display: flex;
    margin-top: 25px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    flex-direction: column;
}

.re-comments-input-wrap {
	width: 620px;
	margin-left: 57px;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #E6E6E6;
    flex-direction: row;
}

/* product-bottom */
.product-bottom-wrap {
	padding: 10px 0;
	width: 677px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.product-bottom-btn{
	display: flex;
	justify-content: center;
}

.modify-btn, .delete-btn {
	height: 45px;
 	width: 100px;
 	background-color: #919191;
 	color: white;
 	border-radius: 6px;
	font-size: 20px;
	margin-left: 5px;
}

.delete-btn {
	background-color: #BEBEBE;	
}
