@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}


svg {
	margin-right: 5px;
}

html, body {
	position: relative;
	height: 100%;
	min-width: 1000px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

::selection {
	color: #fff;
	background:#ff6900; 
}

html {
	overflow: hidden;
}

/* 본문 */
.product_management {
	width: 1000px;
	margin: 10px;
}

/* 위 */
.pm_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.all-delete-btn {
	font-size: 20px;
	background-color: #495057;
	color: #fff;
	margin-left: 20px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
}

.search-wrap {
	border: 1px solid #e9ecef;
	font-size: 18px;
	width: 800px;
	height: 45px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.search-txt {
	width: 800px;
	font-size: 18px;
	border-color: transparent;
}

.search-bar {
	background-color: #DEDEDE;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
}

/* 아래 */
.pm-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.table-wrap {
	width: 1020px;
	height: 500px;
	overflow: auto;
}

.table {
      border-collapse: collapse;
      border-top: 3px solid #495057;
      width: 100%;
}  

.table th {
	  color: #0A0400;
      background: #BEBEBE;
      text-align: center;
}

.table th, .table td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
      word-break: break-all;
      vertical-align: middle;
      height: 20px;
}

.table th:first-child, .table td:first-child {
      border-left: 0;
}

.table th:last-child, .table td:last-child {
      border-right: 0;
}

.table tr td:first-child, .table td:last-child {
      text-align: center;
}

.table caption{
	caption-side: bottom; 
	display: none;
}

.p-title-link{
	cursor: pointer;
}

.table-title {
	width: 500px;
}

