@charset "UTF-8";

/* header css start */
.header {
	width: 100%;
	background: white;
	top: 0;
	display: block;
	z-index: 999;
	position: fixed;
}


.header a {
	text-decoration: none;
	margin-right: 10px;
	background-color: transparent;
	color: #333;
	vertical-align: baseline;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap-banner {
	max-width: 1280px;
	margin: auto;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 14px;
	padding-bottom: 14px;
	/* display: none */;
}

.banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;	
}

/* 네비 바  */

.wrap-navi {
	margin: 0 auto;
	height: 50px;
	background-color: #E67E22;
}

.shadow{
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}

.navi {
	display: flex;
	flex-grow: 0;
	overflow-y: visible;
	background-color: transparent
}

.navibar {
	display: flex;
	padding-left: 0;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}

.navi-link {
	font-weight: 500;
	font-size: 16px;
	color: #fff !important;
	margin: 0 !important;
}

.navibar > li {
	float: left;
	width: 200px;
	height: 50px;
	position: relative;
	line-height: 50px;
}

.sub-navibar {
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;
	background: #E67E22;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.sub-navibar > li {
	width: 200px;
}

.navi-link:hover {
	height: 100%;
	background-color: #52796F;
}

.navi-item:hover .sub-navibar {
	display: block;
}


.subnavi-link {
	font-weight:normal;
	font-size: 14px;
	line-height: 1.8;
	color: #fff !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subnavi-link:hover {
	height: 100%;
	width: 100%;
	background-color: #52796F;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* header css end */