@charset "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-size: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	cursor: pointer;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

svg {
	margin-right: 5px;
}

html, body {
	position: relative;
	height: 100%;
	min-width: 1000px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

::selection {
	color: #fff;
	background: #ff6900;
}

/* 본문 */
.wrap {
	width: 500px;
	height: 365px;
	border: 1px solid #E6E6E6;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
}

/* 제목 */
.title {
	font-size: 25px;
	color: #ff6900;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E6E6E6;
}

/* 중복확인란 */
.contents {
	border-radius: 6px;
	border: 0px;
	width: 450px;
	margin: 0 auto;
	overflow: hidden;
}

/* 아이디 중복확인 입력란  */
.idText {
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	height: 30px;
}

/* 아이디 중복확인 버튼  */
.chkBtn {
	cursor: pointer;
	background-color: #FF9326;
	border: 0px;
	border-radius: 5px;
	width: 100px;
	margin-left: 10px;
	height: 33px;
	color: #FFF;
}

/* sub 메세지 */
.msg {
	margin-left: 50px;
	text-align: left;
	font-size: 12px;
	color: #6E6E6E;
	padding: 30px 20px 10px 20px;
}

.msg2 {
	text-align: center;
	font-size: 12px;
	color: #6E6E6E;
}

.idBtn {
    position: absolute;
    top: 300px;
    left: 35px;
	background-color: #FF9326;
	border-radius: 6px;
	width: 450px;
	margin: 0 auto;
	height: 45px;
	color: #fff;
	font-size: 20px;
}