@charset "UTF-8";

/* 상단 로고  */
.logoImg {
	display: block;
	margin: 0px auto;
	width: 200px;
	height: 60px;
	margin-top: 100px;
}

/* 회원가입 */
.title {
	display: block;
	margin: 0px auto;
	padding: 35px 0 10px 0;
	width: 1000px;
	font-size: 35px;
	font-weight: bold;
	color: rgb(230, 126, 34);
}

/* 상단 이미지 */
.img {
	width: 70px;
	height: 70px;
	margin: 0 20px;
}

/* 아이콘 */
.icon {
	margin-top: 50px;
	height: 75px;
}

/* 메세지 */
.msg {
	text-align: center;
}

/* 주메세지 */
.msg1 {
	font-size: 30px;
	font-weight: bold;
	padding: 30px
}

/* 버튼 */
.oBtn {
	background-color: #FF9326;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	border: 0px;
	border-radius: 10px;
	padding: 15px 60px;
	cursor: pointer;
}

.gBtn {
	background-color: #F2F3F6;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	border: 0px;
	border-radius: 10px;
	padding: 15px 60px;
	cursor: pointer;
}