@charset "UTF-8";

/* 컨테이너 */
.main {
	display: bloxk;
	margin: 0px auto;
	width: 1280px;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* 카테고리이미지 */
.bi-filter-left {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.text {
	font-size: 20px;
}

/* 대시보드 */
.title {
	font-size: 20px;
	margin: 10px;
}

/* 스크롤박스 */
.selectBox {
	width: 350px;
	height: 50px;
	margin: -30px;
	cursor: pointer;
	font-size: 17px;
}

/* 텍스트박스 */
.textBox {
	height: 35px;
	margin-left: 20px;
}